body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    padding: 30px;
   
  }
  
  .container {
    max-width: 400px;
    margin: auto;
    /* background: white; */
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    background-color: #E26274;

    
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color:#FFFFFF;
   
  }
  
  .input-section {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  #addBtn {
    background-color: #28a745;
    color: white;
  }
  
  ul {
    padding-left: 0;
  }
  
  li {
    list-style: none;
    padding: 10px;
    background-color: #e9ecef;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .done {
    text-decoration: line-through;
    color: gray;
  }
  
  .task-buttons {
    display: flex;
    gap: 8px;
  }
  
  .task-buttons button {
    padding: 5px 8px;
    font-size: 14px;
    border-radius: 5px;
  }
  
  .delete-btn {
    background-color: #dc3545;
    color: white;
  }
  
  .done-btn {
    background-color: #007bff;
    color: white;
  }



 
  